.gallery-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  perspective: 1000px;
}

.gallery-track {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;

}

.gallery-item {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #fff;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .gallery-img {
  transform: scale(1.05);
}

@media (max-width: 640px) {
  .gallery-img {
    width: 200px;
    height: 150px;
  }
}
